/*-------------------*/
.jumbotron {
  background-color: #BBB;
  text-shadow: 2px 2px 5px #A3A3A3;
  margin-top: "56px";
  margin-bottom: "0px"; }

footer {
  padding: 10px 10px 10px 10px;
  background-color: #BBB;
  margin-top: "20px";
  margin-bottom: "0px"; }

.tarjeta {
  flex: 1 150px;
  margin-top: "0px";
  margin-bottom: "10px"; }

.modal-content {
  width: 50vw; }
