$Celeste: #BBB;
@mixin Margen($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}


/*-------------------*/

.jumbotron {
    background-color: $Celeste;
    text-shadow: 2px 2px 5px #A3A3A3;
    @include Margen("56px", "0px");
}

footer {
    padding: 10px 10px 10px 10px;
    background-color: $Celeste;
    @include Margen("20px", "0px");
}

.tarjeta {
    flex: 1 150px;
    @include Margen("0px", "10px");
}

.modal-content {
    width: 50vw;
}